### Importing all the modules to be used in the analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
os.chdir("C:\\Users\\Mohammed Rizwan\\Documents\\Data Science and Machine learning journey\\Jupyter notebook\\Misc Projects")

#### Importing Dataset

In [2]:
t_data=pd.read_csv("Trans_data.csv")

#### Analysing the data

In [3]:
t_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8359 entries, 0 to 8358
Data columns (total 43 columns):
sample_number         8359 non-null int64
result_number         8359 non-null int64
text_id               8359 non-null object
sampled_date          8359 non-null object
recd_date             8359 non-null object
date_completed        8359 non-null object
date_reviewed         8359 non-null object
sample_status         8359 non-null object
sample_in_spec        8359 non-null object
group_name            8359 non-null object
t_site                8359 non-null object
t_plant               8359 non-null object
process_unit          8359 non-null object
sampling_point        8359 non-null object
product               8359 non-null object
product_grade         8359 non-null object
product_version       8359 non-null int64
stage                 8359 non-null object
sample_type           8359 non-null object
template              8359 non-null object
sample_name           8359 non-null object
analysis              8359 non-null object
t_test_method         7427 non-null object
test_comment          0 non-null float64
name                  8359 non-null object
entry                 8359 non-null object
formatted_entry       8359 non-null object
reported_value        8359 non-null object
numeric_entry         7417 non-null float64
result_status         8359 non-null object
result_in_spec        8359 non-null object
units                 8359 non-null object
display_string        8351 non-null object
order_number          8359 non-null int64
rule_type             8359 non-null object
spec_rule             6123 non-null object
min_value             1275 non-null float64
max_value             4544 non-null float64
text_value            304 non-null object
sap_functional_loc    8359 non-null object
analysis_type         8359 non-null int64
sap_func_loc          0 non-null float64
sap_tag_no            0 non-null float64
dtypes: float64(6), int64(5), object(32)
memory usage: 2.7+ MB

In [4]:
t_data.describe()

,sample_number,result_number,product_version,test_comment,numeric_entry,order_number,min_value,max_value,analysis_type,sap_func_loc,sap_tag_no
count,8.359000e+03,8.359000e+03,8359.0,0.0,7.417000e+03,8359.000000,1275.000000,4544.000000,8.359000e+03,0.0,0.0
mean,1.080150e+07,5.637023e+07,1.0,NaN,4.678613e+05,20.413805,47.709490,285.953823,1.000662e+09,NaN,NaN
std,6.403573e+04,3.513793e+05,0.0,NaN,2.190486e+06,8.320308,46.914489,637.625856,5.304543e+04,NaN,NaN
min,1.073533e+07,5.598833e+07,1.0,NaN,-2.000000e+01,7.000000,0.300000,-6.000000,1.000647e+09,NaN,NaN
25%,1.077754e+07,5.623648e+07,1.0,NaN,1.000000e-01,13.000000,25.000000,0.890000,1.000650e+09,NaN,NaN
50%,1.078474e+07,5.627995e+07,1.0,NaN,1.600000e+01,20.000000,40.000000,50.000000,1.000651e+09,NaN,NaN
75%,1.079157e+07,5.631995e+07,1.0,NaN,1.460000e+02,27.000000,92.500000,120.000000,1.000666e+09,NaN,NaN
max,1.098826e+07,5.739251e+07,1.0,NaN,1.100000e+07,36.000000,125.000000,2500.000000,1.001189e+09,NaN,NaN

In [8]:
#### Finding if any Null value present in the dataset

In [10]:
t_data.isnull().any()

sample_number         False
result_number         False
text_id               False
sampled_date          False
recd_date             False
date_completed        False
date_reviewed         False
sample_status         False
sample_in_spec        False
group_name            False
t_site                False
t_plant               False
process_unit          False
sampling_point        False
product               False
product_grade         False
product_version       False
stage                 False
sample_type           False
template              False
sample_name           False
analysis              False
t_test_method          True
test_comment           True
name                  False
entry                 False
formatted_entry       False
reported_value        False
numeric_entry          True
result_status         False
result_in_spec        False
units                 False
display_string         True
order_number          False
rule_type             False
spec_rule              True
min_value              True
max_value              True
text_value             True
sap_functional_loc    False
analysis_type         False
sap_func_loc           True
sap_tag_no             True
dtype: bool

#### Analysing first 5 rows in dataset

In [5]:
t_data.head()

,sample_number,result_number,text_id,sampled_date,recd_date,date_completed,date_reviewed,sample_status,sample_in_spec,group_name,...,order_number,rule_type,spec_rule,min_value,max_value,text_value,sap_functional_loc,analysis_type,sap_func_loc,sap_tag_no
0,10735333,55988327,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,11/15/2017 12:49,11/17/2017 18:44,11/17/2017 18:44,A,F,ELE_RELIABILITY,...,7,T,NaN,NaN,NaN,NaN,NGP-DHC-SUB-55ETDC055001,1000672303,NaN,NaN
1,10735333,55988328,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,11/15/2017 12:49,11/17/2017 18:44,11/17/2017 18:44,A,F,ELE_RELIABILITY,...,8,T,NaN,NaN,NaN,NaN,NGP-DHC-SUB-55ETDC055001,1000672303,NaN,NaN
2,10735333,55988329,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,11/15/2017 12:49,11/17/2017 18:44,11/17/2017 18:44,A,F,ELE_RELIABILITY,...,9,T,NaN,NaN,NaN,NaN,NGP-DHC-SUB-55ETDC055001,1000672303,NaN,NaN
3,10735333,55988330,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,11/15/2017 12:49,11/17/2017 18:44,11/17/2017 18:44,A,F,ELE_RELIABILITY,...,10,T,Equal to,NaN,NaN,"Clear, free from sediment and suspended matter",NGP-DHC-SUB-55ETDC055001,1000672303,NaN,NaN
4,10735333,55988331,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,11/15/2017 12:49,11/17/2017 18:44,11/17/2017 18:44,A,F,ELE_RELIABILITY,...,11,N,Result >= MIN,40.0,NaN,NaN,NGP-DHC-SUB-55ETDC055001,1000672303,NaN,NaN

#### If there is any null value in Transformer i.e sampling point and sampled date

In [7]:
t_data.sampled_date.isnull().any()

False

In [17]:
t_data.sampling_point.isnull().any()

False

##### The Annexure 1 categorise the problems faced in transformer due to emmition of key gases in Conditions upto 4.
##### and accordingly we have to take unique samples and each sample have various transformers, going through each transformer 
##### in each sample date and finally appending our result to result Dataframe will give us final resulting csv file.
##### That can be used to go through other annexure process.

In [18]:
tsample_date=t_data.sampled_date.unique()

#### Empty dataFrame

In [92]:
result_df=pd.DataFrame({
    'Sample_number':[],
    'Text_id':[],
    'Sampled_date':[],
    'T_site':[],
    'T_plant':[],
    'Sampling_point':[],
    'CH4(ppm)':[],
    'H2(ppm)':[],
    'C2H2(ppm)':[],
    'C2H4(ppm)':[],
    'C2H6(ppm)':[],
    'CO(ppm)':[],
    'CO2(ppm)':[],
    'TDCG(ppm)':[],
    'Condition':[],
    'Fault':[] 
})

In [ ]:
for udate in tsample_date:
    tunique_s_p=t_data[t_data.sampled_date==udate].sampling_point.unique()
    for tu_s_p in tunique_s_p:
        fault=[]
        condition=""
        execute=True
        Sample_number=float(t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p)].sample_number.unique())
        Text_id=t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p)].text_id.unique()
        Sampled_date=udate
        T_site=t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p)].t_site.unique()
        T_plant=t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p)].t_plant.unique()
        Sampling_point=tu_s_p
        CH4=float(t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p) & (t_data.name=='Methane - CH4')].reported_value)
        H2=float(t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p) & (t_data.name=='Hydrogen - H2')].reported_value)
        C2H2=float(t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p) & (t_data.name=='Acetylene- C2H2')].reported_value)
        C2H4=float(t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p) & (t_data.name=='Ethylene - C2H4')].reported_value)
        C2H6=float(t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p) & (t_data.name=='Ethane - C2H6')].reported_value)
        CO=float(t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p) & (t_data.name=='Carbon Monoxide - CO')].reported_value)
        CO2=float(t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p) & (t_data.name=='Carbon Dioxide - CO2')].reported_value)
        TDCG=float(t_data[(t_data.sampled_date==udate) & (t_data.sampling_point==tu_s_p) & (t_data.name=='TDCG')].reported_value)
        if((H2<=100) and (CH4<=120) and (C2H2<=1) and (C2H4<=50) and (C2H6<=65) and (CO<=350) and (CO2<=2500) and (TDCG<=720)):
            condition='Condition 1'
        else:
            if(((H2>=101) and (H2<=700)) or ((CH4>=121) and (CH4<=400)) or ((C2H2>=2) and (C2H2<=9)) or ((C2H4>=51) and (C2H4<=100)) or ((C2H6>=66) and (C2H6<=100)) or ((CO>=351) and (CO<=570)) or ((CO2>=2500) and (CO2<=4000)) or ((TDCG>=721) and (TDCG<=1920))):
                condition='Condition 2'
                execute=False
            if(((H2>=701) and (H2<1800)) or ((CH4>=401) and (CH4<1000)) or ((C2H2>=10) and (C2H2<35)) or ((C2H4>=101) and (C2H4<200)) or ((C2H6>=101) and (C2H6<150)) or ((CO>=571) and (CO<1400)) or ((CO2>=4001) and (CO2<10000)) or ((TDCG>=1921) and (TDCG<4630))):
                condition='Condition 3'
                execute=False
            elif((H2>= 1800) or (CH4>=1000) or (C2H2>=35) or (C2H4>=200) or (C2H6>=150) or (CO>=1400) or (CO2>=10000) or (TDCG>=4360)):
                condition='Condition 4'
                execute=False
        if(H2>=1000):
            fault.append(('Corona,Arching'))
        elif(CH4>=80):
            fault.append(('Sparking'))
        elif(C2H2>=70):
            fault.append(('Arching'))
        elif(C2H4>=150):
            fault.append(('Severe Overheating'))
        elif(C2H6>=35):
            fault.append(('Local Overheating'))
        elif(CO>1000):
            fault.append(('Severe Overheating'))
        elif((CO2>15000)):
            fault.append(('Severe Overheating'))
        elif((TDCG>4630)):
            fault.append(('High TDCG'))
        elif((condition!='Condition 1') and (condition!='Condition 4')):
            fault.append('Need Resampling')
        elif(execute):
            fault.append(('No fault'))
        temp_df=pd.DataFrame({
            'Sample_number':[Sample_number],
            'Text_id':[" ".join(Text_id)],
            'Sampled_date':[Sampled_date],
            'T_site':[" ".join(T_site)],
            'T_plant':[" ".join(T_plant)],
            'Sampling_point':[Sampling_point],
            'CH4(ppm)':[CH4],
            'H2(ppm)':[H2],
            'C2H2(ppm)':[C2H2],
            'C2H4(ppm)':[C2H4],
            'C2H6(ppm)':[C2H6],
            'CO(ppm)':[CO],
            'CO2(ppm)':[CO2],
            'TDCG(ppm)':[TDCG],
            'Condition':[condition],
            'Fault':[" ".join(fault)] 
        })
        result_df=result_df.append(temp_df,ignore_index=True)

#### Finally export to csv file

In [91]:
result_df.to_csv('res.csv')

In [87]:
result_df.head()

,Sample_number,Text_id,Sampled_date,T_site,T_plant,Sampling_point,CH4(ppm),H2(ppm),C2H2(ppm),C2H4(ppm),C2H6(ppm),CO(ppm),CO2(ppm),TDCG(ppm),Condition,Fault
0,10735333.0,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,NMD,DHC_ELE_NMD,55ETDC055001_NMD,1.0,12.0,0.0,3.0,0.0,59.0,1619.0,75.0,Condition 1,Recommendation Needed
1,10777576.0,OIL/NGU-IOP-ETP-SUB-80XD0011/141117@1801,11/28/2016 0:00,NMD,IWWTP_ELE_NMD,80XD0011_NMD,1.0,7.0,0.0,2.0,0.0,61.0,1634.0,71.0,Condition 1,Recommendation Needed
2,10777591.0,OIL/NGU-IOP-ETP-SUB-80XD0012/141117@1801,11/28/2016 0:00,NMD,IWWTP_ELE_NMD,80XD0012_NMD,1.0,6.0,0.0,1.0,0.0,36.0,1514.0,44.0,Condition 1,Recommendation Needed
3,10777595.0,OIL/NGU-IOP-ETP-SUB-80XD0013/141117@1801,11/28/2016 0:00,NMD,IWWTP_ELE_NMD,80XD0013_NMD,1.0,9.0,0.0,3.0,0.0,63.0,1172.0,76.0,Condition 1,Recommendation Needed
4,10777600.0,OIL/NGU-IOP-ETP-SUB-80XD0014/141117@1801,11/28/2016 0:00,NMD,IWWTP_ELE_NMD,80XD0014_NMD,1.0,12.0,0.0,3.0,0.0,116.0,2206.0,132.0,Condition 1,Recommendation Needed

In [49]:
test_sp=result_df.Sampling_point

In [61]:
ar=[]
ar.append('Test1')
str(ar)
ar=" ".join(ar)

In [62]:
        if((H2<=100) and (CH4<=120) and (C2H2<=1) and (C2H4<=50) and (C2H6<=65) and (CO<=350) and (CO2<=2500) and (TDCG<=720)):
            condition='Condition 1'
        else:
            if(((H2>=101) and (H2<=700)) or ((CH4>=121) and (CH4<=400)) or ((C2H2>=2) and (C2H2<=9)) or ((C2H4>=51) and (C2H4<=100)) or ((C2H6>=66) and (C2H6<=100)) or ((CO>=351) and (CO<=570)) or ((CO2>=2500) and (CO2<=4000)) or ((TDCG>=721) and (TDCG<=1920))):
                condition='Condition 2'
                execute=False
            if(((H2>=701) and (H2<1800)) or ((CH4>=401) and (CH4<1000)) or ((C2H2>=10) and (C2H2<35)) or ((C2H4>=101) and (C2H4<200)) or ((C2H6>=101) and (C2H6<150)) or ((CO>=571) and (CO<1400)) or ((CO2>=4001) and (CO2<10000)) or ((TDCG>=1921) and (TDCG<4630))):
                condition='Condition 3'
                execute=False
            elif((H2>= 1800) or (CH4>=1000) or (C2H2>=35) or (C2H4>=200) or (C2H6>=150) or (CO>=1400) or (CO2>=10000) or (TDCG>=4360))
                condition='Condition 4'
                execute=False

'Test1'